<div class="calendar-headers">
  <div class="calendar-header header-item">Time</div>
  <div class="calendar-header header-item">Monday</div>
  <div class="calendar-header header-item">Tuesday</div>
  <div class="calendar-header header-item">Wednesday</div>
  <div class="calendar-header header-item">Thursday</div>
  <div class="calendar-header header-item">Friday</div>
  <div class="calendar-header header-item">Saturday</div>
  <div class="calendar-header header-item">Sunday</div>
</div>
  <!-- New row -->
<div class="calendar">
  <div class="grid-item"><p>00:00 to 01:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>01:00 to 02:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>02:00 to 03:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>03:00 to 04:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>04:00 to 05:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>05:00 to 06:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>06:00 to 07:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>07:00 to 08:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>08:00 to 09:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>09:00 to 10:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>10:00 to 11:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>11:00 to 12:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>12:00 to 13:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>13:00 to 14:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>14:00 to 15:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>15:00 to 16:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>16:00 to 17:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>17:00 to 18:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>18:00 to 19:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>19:00 to 20:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>20:00 to 21:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>21:00 to 22:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item"><p>22:00 to 23:00</p></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item"></div>
  <div class="grid-item-last"></div>
  <!-- New row -->
  <div class="grid-item last-row"><p>23:00 to 24:00</p></div>
  <div class="grid-item last-row"></div>
  <div class="grid-item last-row"></div>
  <div class="grid-item last-row"></div>
  <div class="grid-item last-row"></div>
  <div class="grid-item last-row"></div>
  <div class="grid-item last-row"></div>
  <div class="grid-item-last last-row"></div>
</div>

