<div class="tabs">
  <div id="dashboard-title">
    <h4>Dashboard</h4>
  </div>
  <a class="tab active" href="#">
    <div class ="icon">
      <i class="far fa-calendar-check"></i>
    </div>
    <span class="span-dashboard">Schedule</span>
  </a>
  <a class="tab" href="#">
    <div class ="icon">
      <i class="fas fa-users"></i>
    </div>
    <span class="span-dashboard">Clients</span>
  </a>
  <a class="tab" href="#">
    <div class ="icon">
      <i class="far fa-envelope"></i>
    </div>
    <span class="span-dashboard">Messages</span>
  </a>
  <a class="tab" href="#">
    <div class ="icon">
      <i class="far fa-money-bill-alt"></i>
    </div>
    <span class="span-dashboard">Finances</span>
  </a>
</div>

