.noflex-wrap {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  float: right;
}

.head {
  font-size: 22px;
  font-family: Raleway, Helvetica, sans-serif;
}

.summary-header {
  padding-bottom: 5px;
  margin-top: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 12px 16px -15px rgba(0,0,0,0.2);
  .header-details {
  margin-top: 10px;
  color: #9999;
  // display: block;
  font-size: 18px;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: left;
  height: auto;
  overflow: hidden;
  .column {
      // float: left;
      // width: 24.33%;
      // margin-bottom: 0;
      color: #242423;
    }
  }
}

.header-details {
  display: flex;
  justify-content: space-around;
}


.summary {
  width: 100%;
  padding-bottom: 5px;
  padding-top: 20px;
  border-bottom: 1px solid rgba(230, 126, 33, 0.3);
  .summary-details {
  padding-top: 10px;
  color: #9999;
  display: block;
  font-size: 14px;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: left;
  height: auto;
  overflow: hidden;

    .column {
      color: #242423;
    }
  }
}
.text-wrap {
  // overflow: hidden;
  height: auto;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
  .summary-name {
    flex: 0 0 20%;
  }
  .summary-location {
    flex-grow: 1;
  }
  .summary-date {
    flex: 0 0 20%;
  }
  .summary-buttons {
    flex: 0 0 25%;
    display: flex;
  }


@media (max-width: 768px) {
  .text-wrap {
    display: block;
    margin-left: 10px;
    // margin-bottom: 10px;
    border-bottom: 1px solid rgba(230, 126, 33, 0.3);

  }
}



