.banner-profile {
  width: 100%;
  height: 50vh;
  background-size: cover;
  position: relative;
  padding-bottom: 25%;
}

.full-height {
  height: 100%;
}

.instructor_reviews {
  border-radius: 3px;
  border: 1px solid rgba(220,220,220,0.4);
  margin: 10px;
  margin-top: 0px;
  padding: 10px;
  box-shadow: 1px 0.5px 0.5px rgba(220, 220, 220, 0.4);
}

.book_instructor {
  border-radius: 3px;
  margin-top: 19px;
  margin-bottom: 19px;
  padding: 10px;
  text-align: center;
  height: 83%;
  font-family: Raleway, Helvetica, sans-serif;
  border: 1px solid rgba(220,220,220,0.4);
  box-shadow: 1px 0.5px 0.5px rgba(220, 220, 220, 0.4);
}

.position-fixed {
  position: fixed;
}

.flex-box {
  display: flex;
}

.instructor_info {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  font-family: Raleway, Helvetica, sans-serif;
  border-radius: 3px;
  margin: 10px;
  margin-bottom: 0px;
  padding: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
}

.left-info {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin-right: 10px;
 font-family: Raleway, Helvetica, sans-serif;
}

.instructor_summary {
  border: 1px solid rgba(220,220,220,0.4);
  margin: 10px 0px;
  border-radius: 3px;
  min-width: 258px;
  height: 160px;
  text-align: center;
  padding: 10px;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 1em;
  box-shadow: 1px 0.5px 0.5px rgba(220, 220, 220, 0.4);
}

.height-max {
  height: 100%;
}
.instructor_bio {
  display: flex;
  border: 1px solid rgba(220,220,220,0.4);
  border-radius: 3px;
  flex-direction: column;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
}

.instructor_availability {
  padding: 10px;
  text-align: left;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
}


.instructor_description {
  padding: 20px;
  font-family: Raleway, Helvetica, sans-serif;
  min-height: 344px;
  box-shadow: 1px 0.5px 0.5px rgba(220, 220, 220, 0.4);
}

.review {
  border-bottom: 1px solid #6BC5DB;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 24px;
}

.fa-star {
  color: orange;
}

.message_button {
  margin-top: 20px;
}

.instructor_gallery {
  border-radius: 3px;
}

.gallery {
  margin-bottom: 10px;
  width: 350px;
}


.bio-title {
  font-size: 24px;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.2;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.bio-title-small {
  font-size: 18px;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.2;
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.client-note {
  border: 1px solid #6BC4D9;
}

#booking_date_start {
  width: 200px;
}

.profile-photo {
position: relative;
width: 200px;
}

@media (max-width: 1000px) {
   .position-fixed {
      position: relative;
  }
}
