.instructor_info {
  border-radius: 3px;
  margin: 10px;
  padding: 10px;
}

.full-height {
  height: 100%;
}

.instructor_reviews {
  border-radius: 3px;
  border: 1px solid rgba(220,220,220,0.4);
  margin: 10px;
  padding: 10px;
}

.book_instructor {
  border-radius: 3px;
  margin-left: 20px;
  margin: auto 10px;
  padding: 10px;
  text-align: center;
  height: 100%;
  font-family: Raleway, Helvetica, sans-serif;
}

.position-fixed {
  position: fixed;
}

.flex-box {
  display: flex;
}

.instructor_info {
  display: flex;
  margin-top: 15px;
  justify-content: space-between;
  font-family: Raleway, Helvetica, sans-serif;
}

.left-info {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 align-items: center;
 margin-right: 10px;
 font-family: Raleway, Helvetica, sans-serif;
}

.instructor_summary {
  border: 1px solid rgba(220,220,220,0.4);
  margin: 10px 0px;
  border-radius: 3px;
  width: 350px;
  text-align: center;
  padding: 10px;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 14px;
}

.height-max {
  height: 100%;
}
.instructor_bio {
  display: flex;
  border: 1px solid rgba(220,220,220,0.4);
  border-radius: 3px;
  flex-direction: column;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
}

.instructor_availability {
  padding: 10px;
  text-align: left;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 16px;
}


.instructor_description {
  padding: 10px;
  font-family: Raleway, Helvetica, sans-serif;
}

.review {
  border-bottom: 1px solid #6BC5DB;
  font-family: Raleway, Helvetica, sans-serif;
  font-size: 24px;
}

.fa-star {
  color: orange;
}

.message_button {
  margin-top: 20px;
}

.instructor_gallery {
  border-radius: 3px;
}

.gallery {
  margin-bottom: 10px;
  width: 350px;
}


.bio-title {
  font-size: 30px;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: left;
  text-transform: capitalize;
  line-height: 1.2;
  display: block;
  margin-bottom: 10px;

.client-note {
  border: 1px solid #6BC4D9;
}

#booking_date_start {
  width: 200px;
}
