.mailbox-container {
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  max-height: 80vh;
}

.inbox {
  padding: 0px;
  a {
    text-decoration: none;
  }
}
//   list-style: none;
//   margin: 0px;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   padding: 10px;
//   align-items: center;
//   width: 100%;
//   overflow-y: scroll;
//   height: 70vh;

.message {
  margin: 20px;
  float: right;
  overflow: auto;

  .message__body {
    color: black;
    font-size: 14px;
    font-family: Raleway, Helvetica, sans-serif;
    margin-bottom: 0px;
  }

  .message__summary {
    font-weight: bold;
    color: black;
    font-size: 16px;
    font-family: Raleway, Helvetica, sans-serif;
    margin-bottom: 0px;
  }
}

// .image-container {
//   float: left;
//   margin-right: 20px;
// }

.conversation {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 10px;
  // justify-content: space-between;

  // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  // display: flex;
  // align-items: center;
  // flex-direction: row;
  // margin-left: 0px;
  // flex: 1 0 auto;

//   &:last-child {
//     border: none;
//   }

  // a:hover {
  //   text-decoration: none;
  // }
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }


  .conversation__name {
    text-decoration: none;
    color: #242423;
    // display: block;
    font-family: Raleway, Helvetica, sans-serif;
    // text-align: center;
    margin-bottom: 0px;

    // &:hover {
    //   text-decoration: none;
    //   color: black;
    // }
  }
}

// .title {
//   margin-bottom: 15px;
//   margin-top: 15px;
//   font-size: 32px;
//   font-family: Raleway, Helvetica, sans-serif;
// }



