.book_lesson {
  text-align: center;
  background-color: white;
  margin-top: 50px;
  img {
    margin: 10px 0;
  };
  h1 {
    color: #6CC4D9;
  }
  h3 {
    font-size: 1.5em;
  }

}

.sum-box {
  box-shadow: 0 10px 30px -15px rgba(0,0,0,0.25);
  padding: 30px 30px 30px 30px;
  align-items: center;
  overflow-y: scroll;
  width: 100%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 1px solid rgba(0,0,0,0.05);

  form {
    width: 100%;
  }
}

.img-box {
  width: 100%;
  justify-content: center;
  margin-bottom: 20px;

  .pay-pic {
    height: 250px;
    width: 400px;
    object-fit: cover;
    object-position: 0 -30px;
  }
}

.sum-title {
  font-size: 24px;
  margin-bottom: 10px;
  font-family: Raleway, Helvetica, sans-serif;
  text-align: left;
  box-shadow: 0 10px 30px -15px rgba(0,0,0,0.25);
}

.sum-left {
  display: block;
  color: #999999;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  width: calc(50% - 10px);

  p {
    margin: 0;
    padding: 0;
  }

  @media (max-width: 600px) {
    width: 100%;
  }
}

.amount {
  line-height: 22px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 18px;
  color: #43515E;
  font-family: Raleway, Helvetica, sans-serif;

}
