.container-map {
  margin: 30px;

  .search_results_flex {
    display: flex;
    margin-right: 50px;
  }

  .card-map-container {
    width: 60%;
    border-right: 1px solid #E8E7E4;
    border-top: 1px solid #E8E7E4;
    margin-right: 80px;
  }

  .map-search-form-container {
    top: 50px;
    width: 45%;
    margin-bottom: 10px;
    margin-left: 30px;


  }

  .results-found {
      font-family: Raleway, Helvetica, sans-serif;
      font-size: 18px;
      margin-left: 30px;
      width: 50%;
    }
}
