<%= render 'shared/banner' %>
<div class="top-instructors-container">
<div class="top-instructors-text">Top Instructors in London</div>
</div>
<div class="card-wrap">
  <%= render 'shared/cards' %>
</div>
