<div class="banner hidden-xs hidden-sm" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(129,64,64,0.5) 50%), url(<%= image_path 'swimmer_1.jpg' %>);">
  <%= render 'shared/navbar' %>
  <div class="banner-content">
    <h2>Find your local instructor</h2>
    <span class="typed"></span>
            <!-- Search form -->
    <form class="nav-form search-box">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</div>

<div class="banner hidden-md hidden-lg" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(129,64,64,0.5) 50%), url(<%= image_path 'swimmer_1.jpg' %>);">
  <%= render 'shared/navbar' %>
  <div class="banner-content">
    <h2>Find your local instructor</h2>
    <span class="typed"></span>
            <!-- Search form -->
    <form class="nav-form search-box">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
</div>

