<div class="card-wrap">
  <li class="card-item">
    <div class="card">
      <div class="card-img"></div>
      <div class="card-content">
        <div class="card-title">Personal Trainer</div>
        <p class="card-text">Michael || Greenwich || Hackney</p>
        <button class="btn btn-block card__btn">Button</button>
      </div>
    </div>
  </li>
  <div class="card-wrap">
  <li class="card-item">
    <div class="card">
      <div class="card-img"></div>
      <div class="card-content">
        <div class="card-title">Personal Trainer</div>
        <p class="card-text">Michael || Greenwich || Hackney</p>
        <button class="btn btn-block card__btn">Button</button>
      </div>
    </div>
  </li>
</div>
<div class="card-wrap">
  <li class="card-item">
    <div class="card">
      <div class="card-img"></div>
      <div class="card-content">
        <div class="card-title">Personal Trainer</div>
        <p class="card-text">Michael || Greenwich || Hackney</p>
        <button class="btn btn-block card__btn">Button</button>
      </div>
    </div>
  </li>
</div>
<div class="card-wrap">
  <li class="card-item">
    <div class="card">
      <div class="card-img"></div>
      <div class="card-content">
        <div class="card-title">Personal Trainer</div>
        <p class="card-text">Michael || Greenwich || Hackney</p>
        <button class="btn btn-block card__btn">Button</button>
      </div>
    </div>
  </li>
</div>
</div>
