<% if user_signed_in? %>
  <div class="topbar-placeholder">
    <nav class="topbar visible">
      <h1 class="logo">SportLance</h1>
      <div class="button-wrap hidden-xs">
        <a class="button">Dashboard</a>
        <a class="button">About Us</a>
        <%= link_to("Log out", destroy_user_session_path, method: "delete", class: "button") %>
        <a><%= image_tag('phelps', class: "avatar-medium") %></a>
      </div>
      <div class="dropdown visible-xs">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><span class="glyphicon glyphicon-menu-hamburger"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </nav>
  </div>
<% else %>
  <div class="topbar-placeholder">
    <nav class="topbar visible">
      <h1 class="logo">SportLance</h1>
      <div class="button-wrap">
        <%= link_to("Log In / Sign Up", new_user_session_path, method: "get", class: "button") %>
        <a class="button">About Us</a>
        <a class="button">New Instructor</a>
      </div>
    </nav>
  </div>
<% end %>

