<div class="nav-form placeholder-white">
  <%= form_tag users_search_path, method: "get" do %>
    <%= text_field_tag :query1, "", placeholder: "Sport", class: "form-control-white form-width ap-input" %>
    <%= text_field_tag :query2, "", placeholder: "Location", class: "form-control-white address_autocomplete" %>
    <%= submit_tag "Search", class: "button" %>
  <% end %>
</div>
