<div class="nav-form">
  <%= form_tag users_search_path, method: "get" do %>
    <%= text_field_tag :query, "", placeholder: "Search", class: "form-control-white address_autocomplete" %>
    <%= submit_tag "Search", class: "button" %>
  <% end %>
</div>
