.avatar-medium {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-mailbox {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-profile {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  object-fit: cover;
  box-sizing: border-box;
}

.avatar-xl {
  height: 175px;
  width: 175px;
  border-radius: 50%;
  object-fit: cover;
}

.gallery {
  height: 200px;
  width: 350px;
}
