.grid-item {
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-last {
  border-bottom: 1px solid grey;
  border-right: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-row {
  border-bottom: 0px solid black !important;
}

.header-item {
  overflow: scroll;
  border-right: 1px solid black;
  padding: 4px;
  background-color: #6BC4D9;
  color: white;
}

.flex-it {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item-last {
  overflow: scroll;
  border-right: 1px solid black;
  border-top-right-radius: 2px;
  padding: 4px;
  background-color: #6BC4D9;
  color: white;
}

.calendar-headers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  font-size: 80%;
  -webkit-user-select: none;
}

.calendar {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  height: 400px;
  overflow: scroll;
  -webkit-user-select: none;
    p {
      margin: 0 !important;
      font-size: 0.7em;
      font-family: "Raleway", "Helvetica", "sans-serif";
    }
}

::-webkit-scrollbar {
    display: none;
}

.hour-block p {
  pointer-events: none
}

.calendar-dash {
  display: flex;
}

.the-calendar {
  margin: 30px auto;
  width: 75%;
}

.time-label {
  padding: 4px;
}

.test {
  display: none;
}

.curved-tl-border {
  border-top-left-radius: 2px;
}

.grid-time {
  width: 100px;
}

// CELL STATES

.unavailable {
   background-color: #f4f5f5; background-image: -webkit-gradient(linear, left top, left bottom, from(#f4f5f5), to(#dfdddd));
 background-image: -webkit-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -moz-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -ms-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: -o-linear-gradient(top, #f4f5f5, #dfdddd);
 background-image: linear-gradient(to bottom, #f4f5f5, #dfdddd);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f4f5f5, endColorstr=#dfdddd);
  cursor: pointer;
}

.unavailable:hover {
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.available {
 background-color: #8ed058; background-image: -webkit-gradient(linear, left top, left bottom, from(#8ed058), to(#7bb64b));
 background-image: -webkit-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -moz-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -ms-linear-gradient(top, #8ed058, #7bb64b);
 background-image: -o-linear-gradient(top, #8ed058, #7bb64b);
 background-image: linear-gradient(to bottom, #8ed058, #7bb64b);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#8ed058, endColorstr=#7bb64b);
 cursor: pointer;
}

.available:hover {
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.booked {
 background-color: #92cfde; background-image: -webkit-gradient(linear, left top, left bottom, from(#92cfde), to(#76bdd1));
 background-image: -webkit-linear-gradient(top, #92cfde, #76bdd1);
 background-image: -moz-linear-gradient(top, #92cfde, #76bdd1);
 background-image: -ms-linear-gradient(top, #92cfde, #76bdd1);
 background-image: -o-linear-gradient(top, #92cfde, #76bdd1);
 background-image: linear-gradient(to bottom, #92cfde, #76bdd1);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#92cfde, endColorstr=#76bdd1);
}

.booked:hover {
  background-color: #19849e;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.switch-weeks {
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #6CC3D7;
  }
}

.switch-item {
  display: flex;
  align-items: center;
  p {
    margin: 0;
    padding: 0 5px;
  }
}

.the-calendar {
  h2 {
    margin-top: 7px;
  }
}
