.grid-item {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-last {
  border-bottom: 1px solid black;
  border-right: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.last-row {
  border-bottom: 0px solid black !important;
}

.header-item {
  border-right: 1px solid black;
  padding: 4px;
  background-color: #6BC4D9;
  color: white;
}

.flex-it {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-item-last {
  border-right: 2px solid black;
  border-top-right-radius: 7px;
  padding: 4px;
  background-color: #6BC4D9;
  color: white;
}

.calendar-headers {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  font-size: 0.8em;
  -webkit-user-select: none;
}

.calendar {
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: min-content;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-bottom: 2px solid;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  height: 300px;
  overflow: scroll;
  -webkit-user-select: none;
    p {
      margin: 0 !important;
      font-size: 0.7em;
      font-family: "Raleway", "Helvetica", "sans-serif";
    }
}

::-webkit-scrollbar {
    display: none;
}

.hour-block p {
  pointer-events: none
}

.calendar-dash {
  display: flex;
}

.the-calendar {
  margin: 30px auto;
  width: 75%;
}

.time-label {
  padding: 4px;
}

.test {
  display: none;
}

.curved-tl-border {
  border-top-left-radius: 5px;
}

// CELL STATES

.unavailable {
  background-color: #CFD3D4;
  cursor: pointer;
}

.available {
  background-color: #7bd666;
  cursor: pointer;
}

.booked {
  background-color: #6BC4D9;
}

.booked:hover {
  background-color: #19849e;
  cursor: pointer;
}

