*,
*::before,
*::after {
  box-sizing: border-box;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0 auto;
  padding: 0 20px;

  .card-item {
  display: flex;
  padding: 20px 15px;

    .card {
      display: flex;
      background-color: white;
      box-shadow: 0 10px 20px -14px rgba(0,0,0,0.25);
      border: 1px solid #cccccc;
      border-radius: 3px;
      width: 250px;
      flex-direction: column;
      overflow: hidden;
        &:hover {
          filter: contrast(100%);
        }

      .card-title {
        color: #696969;
        font-size: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        padding-top: 10px;
        text-align: center;
      }

      .card-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 10px;
      }

      .card-text {
        flex: 1 1 auto;
        font-size: 14px;
        line-height: 1.5;
        margin-bottom: 1.25rem;
      }

      .card-img {
        width: 100%;

        img {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;
        max-width: 100%;
        vertical-align: middle;
        }
      }

    .button-card {
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
      border: 1px solid #6AC5DB;
      font-family: Raleway, Helvetica, sans-serif;
      font-size: 14px;
      line-height: 1;
      margin: 5px;
      padding: 8px;
      color: #6AC5DB;
      transition: 0.25s;
      text-decoration: none;
      border-radius: 3px;

    }

    @media (max-width: 300px) {
      .button-card {
        display: flex;
        flex-direction: column;
      }
    }

    .button-card:hover {
      box-shadow: 0 0.5em 0.5em -0.4em;
      }
    }
  }
}

