.clients {
  padding: 0px;
}
.client {
  display: flex;
  align-items: center;
  flex-direction: row;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  margin-top: 10px;
  justify-content: space-between;
}
.client-details {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.btn-margin {
  margin-right: 20px;
}
