.topbar {
  position: static;
  width: 100%;
  background-color: transparent;
  transition: all 0.5s;
  padding: 0px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-inline-start: 0px;
    font-weight: bold;
  }


  a {
    color: #fff;
    transition: color 0.5s;

  a:hover {
      opacity: 0.8;
      text-decoration: none;
    }
  }
  .avatar-medium {
    height: 35px;
    width: 35px;
    border-radius: 50%;
  }

  .banner {
    background-position: center;
  }

  .logo {
    color: #6AC5DB;
  }
  .dropdown-menu {
    right: 0px;
    left: auto;
    background-color: transparent;
    border: none;

    &.dropdown-menu:hover {
      opacity: 0.5;
      border: none!important;
    }

    a {
      color: white;
    }
  }

  .dropdown-toggle {
    background-color: transparent!important;
    color: white!important;
    border: none!important;

  }
}




