.nav-form {
  width: 500px;
}
.nav-form form {
  display: flex;
  margin-top: 25px;
}
.placeholder-white input::placeholder {
  color: white;
}
.form-control {
  width: 100%;
  background-color: transparent;
  border-bottom: 1px solid #4dd0e1;
  font-family: Raleway, Helvetica, sans-serif;
  box-shadow: 0 1px 0 0 #4dd0e1;
  border: none;
  margin-right: 10px;
}
input.form-control-white[type=text] {
  box-shadow: 0 1px 0 0 #4dd0e1;
  border: none;
  border-bottom: 1px solid #4dd0e1;
  background-color: transparent;
  font-family: Raleway, Helvetica, sans-serif;
  color: #fff;
}
input.form-control[type=text] {
  box-shadow: 0 1px 0 0 #4dd0e1;
  border: none;
  border-bottom: 1px solid #4dd0e1;
  background-color: transparent;
  font-family: Raleway, Helvetica, sans-serif;
  color: #242423;
}
.form-width {
  width: 180px;
  margin-right: 5px;
}
.ap-name {
  color: black;
}

.ap-dropdown-menu {
  width: 310px;
  text-align: left;
}

